<h1 style="display:inline; width: 100px;">

  <%= @employee.first_name + ' ' + @employee.last_name %>
  </h1>
  <br>



<p style="margin-top: 5ems;">
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee), class:"btn btn-outline-secondary"%>
<%= link_to 'Back', employees_path,  class:"btn btn-outline-secondary"%>
